{% extends 'app/base.html'%} 
{% load static %} 
{% block title %}Password Reset Complete{% endblock title%} 
{% block main-content %}
<div class="container">
    <div class="col-sm-6 offset-sm-3">
        <h3>Password Reset Completed Successfully</h3>
    </div>
    <div>
        {% comment %} <iframe src="https://giphy.com/embed/ibolle3m0qHE3PQTtk" width="200" height="200" frameborders="0" class"giphy-embed" allowFullscreen></iframe> {% endcomment %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include 'app/footer.html' %}
{% endblock footer %}