{% extends 'app/base.html'%}
 {% load static %} 
 {% block title %}Password Reset Done{% endblock title%} 
 {% block main-content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h4 class="alert-heading">
        Well Done!
      </h4>
      <p>An Email has been sent with instructions to resset your password. <b>Check Your Email </b></p>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include 'app/footer.html' %}
{% endblock footer %}


